---
import SwiperImageSlide from "@/components/SwiperImageSlide.astro";
---

<div class='m-10 rounded-lg bg-white p-10 shadow-lg'>
  <div class='mb-10'>
    <SwiperImageSlide />
  </div>
  <div>
    <h2 class='text-2xl font-semibold text-orange-500'>Crawlora App</h2>
    <p class='mt-2 text-gray-600'>
      Crawlora is a data aggregation tool for marketers, automating data
      crawling and real-time analysis from platforms like Amazon and Google. It
      delivers actionable insights with secure, scalable data handling for
      businesses of all sizes.
    </p>
    <div class='mt-4'>
      <button
        class='rounded bg-orange-500 px-4 py-2 text-white hover:bg-orange-600'
      >
        Download Desktop app
      </button>
      <span class='mt-1 block text-sm text-gray-500'
        >Windows · MacOS (Apple Silicon) · Linux</span
      >
    </div>
  </div>
</div>
