---
import SwiperImageSlide from '@/components/SwiperImageSlide.astro';
import Modal from '@/components/ui/Modal.astro';

// State to track modal open/close
let isModalOpen = false;
---

<div
  class="mx-auto flex min-h-[calc(100vh-427px)] max-w-[85rem] items-center justify-center px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div class="from-purple-500 flex w-full flex-col items-center justify-center">
    <div class="flex rounded-xl bg-neutral-100 p-8 shadow-lg dark:bg-[#171717]">
      <SwiperImageSlide />
      <div class="md:px-10">
        <h2 class="text-2xl font-semibold text-orange-500">Crawlora App</h2>
        <p class="mt-2 text-[14px] text-gray-600">
          Crawlora is a data aggregation tool for marketers, automating data
          crawling and real-time analysis from platforms like Amazon and Google.
          It delivers actionable insights with secure, scalable data handling
          for businesses of all sizes.
        </p>
        <div class="mt-4">
          <button
            data-open-modal
            class="text-rounded bg-orange-500 px-4 py-2 text-[14px] text-white hover:bg-orange-600"
          >
            Download Desktop app
          </button>
          <span class="mt-1 block text-[12px] text-sm text-gray-500"
            >Windows · MacOS (Apple Silicon) · Linux</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<Modal isOpen={isModalOpen} />

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const openButton = document.querySelector('[data-open-modal]');
    const closeButton = document.querySelector('[data-close-modal]');
    const modalContainer = document.querySelector('div[role="dialog"]');

    openButton.addEventListener('click', () => {
      modalContainer.style.display = 'flex';
    });

    closeButton.addEventListener('click', () => {
      modalContainer.style.display = 'none';
    });
  });
</script>
