<!-- cta section --><!-- <section class="section cta">
    <div class="bg-overlay-gradiant"></div>

    <div class="position-relative container">
      <div class="row">
        <div class="col-lg-6">
          <div class="py-5">
            <h1 class="display-4 text-white">
              Build Your ideal workspace today.
            </h1>
            <p class="text-white-50 f-18 mt-3">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure
              distinctio vero facilis numquam sapiente! Eaque inventore eveniet
              repellendus quod maiores nulla.
            </p>
            <div class="d-flex mt-4">
              <div class="app-store">
                <a href="#">
                  <img
                    src={appStoreImage.src}
                    alt="App Store"
                    class="img-fluid"
                  />
                </a>
              </div>
              <div class="googleplay">
                <a href="#">
                  <img
                    src={googlePlayImage.src}
                    alt="Google Play"
                    class="img-fluid ms-3"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cta-phone-image">
            <img src={ctaBgImage.src} alt="CTA Background" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </section> --><!-- end section -->
