@import "https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css";
@import "https://unicons.iconscout.com/release/v4.0.0/css/line.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css";
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&amp;display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap';

@import 'variable.css';


#style-switcher {
  transition: all 0.4s;
  background: none repeat scroll 0 0 var(--light-color);
  box-shadow: 0px 4px 12px rgba(24, 59, 86, 0.07);
  left: -189px;
  position: fixed;
  top: 35.5%;
  width: 189px;
  z-index: 999;
  padding: 10px 5px;
}
#style-switcher .settings {
  background: #343a40;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: -45px;
  top: 0;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}
ul.pattern {
  overflow: hidden;
  border-radius: 0px;
}
ul.pattern li {
  float: left;
  margin: 2px;
}
ul.pattern li a {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 30px;
  margin: 5px;
}
ul.pattern .color1 {
  background-color: var(--primary-color);
}
ul.pattern .color2 {
  background-color: var(--blue-color);
}
ul.pattern .color3 {
  background-color: var(--warning-color);
}
@media only screen and (max-width: 375px) {
  #style-switcher {
    display: none !important;
  }
}
body[data-bs-theme='dark'] .style-switcher h6 {
  color: #fff !important;
}
body[data-bs-theme='dark'] .home {
  background-image: url('../../pages/images/dark-bg.png') !important;
}
body[data-bs-theme='dark'] .navbar .navbar-nav .nav-link.active {
  color: var(--primary-color) !important;
}
.collapse{
  visibility: visible;
}
@media (min-width: 200px) and (max-width: 1024px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    color: #fff !important;
    background: #fff;
  }
  .navbar-custom .navbar-nav {
    margin-left: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: rgba(0, 0, 0, 0);
  }
  .navbar-custom .navbar-nav li a {
    transition: all 0.4s;
    margin: 6px;
    color: var(--dark-color);
    padding: 6px 0;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .home-title {
    font-size: 36px;  
  }
  .navbar-white .navbar-toggler {
    color: var(--dark-color) !important;
    height:30px;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: var(--primary-color) !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .carousel-indicators {
    right: 0;
  }
  .logo > .logo-light,
  .logo > .logo-dark
   {
    height:30px;
  }
  .logo .logo-light {
    display: none;
  }
  .logo .logo-dark {
    height:30px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (max-width: 992px) {
  .home,
  .home-2,
  .home-4,
  .home-5,
  .home-6 {
    padding: 150px 0 50px 0 !important;
  }
}
@media (max-width: 1600px) {
  .request-image img {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .PageBackToWork-heading-itText {
    display: inline-block;
    font-size: 50px;
  }
}
@media only screen and (min-width: 1600px) {
  .container-fluid {
    padding-right: 150px;
    padding-left: 150px;
  }
}
.navbar {
  transition: all 0.5s ease;
  padding: 0;
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .logo .logo-light {
  display: none;
}
.navbar .logo .logo-dark {
  display: inline-block;
}
.navbar .navbar-nav .nav-link {
  color: var(--dark-color);
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
  padding: 28px 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 700;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary-color) !important;
}
.navbar .navbar-brand {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 26px;
}
.navbar .navbar-brand span {
  color: #000;
  font-weight: 800;
}
.navbar .navbar-toggler {
  padding: 0px;
  border: none;
  font-size: 24px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .header-item {
  color: var(--dark-color);
  transition: all 0.5s ease;
}
.navbar > .nav-link{
  padding: 28px 25px !important;
}
@media (max-width: 992px) {
  .navbar-nav .dropdown .dropdown-menu {
    border: none;
    box-shadow: none;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .dropdown {
    position: static;
  }
}
.navbar-light .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
.navbar-light .nav-item .nav-link:hover,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item .nav-link.active {
  color: #fff !important;
}
.navbar-light .logo .logo-light {
  display: block;
}
.navbar-light .logo .logo-dark {
  display: none;
}

@media (max-width: 992px) {
  .navbar-light .logo .logo-light {
    display: none;
  }
  .navbar-light .logo .logo-dark {
    display: block;
  }
}
.nav-sticky.navbar-light .nav-item .nav-link {
  color: var(--dark-color) !important;
}
.nav-sticky.navbar-light .nav-item .nav-link:hover,
.nav-sticky.navbar-light .nav-item .nav-link:focus,
.nav-sticky.navbar-light .nav-item .nav-link.active {
  color: var(--primary-color) !important;
}
.nav-sticky.navbar-light .logo .logo-light {
  display: none !important;
}
.nav-sticky.navbar-light .logo .logo-dark {
  display: block !important;
}
.nav-sticky.navbar {
  background: #fff !important;
  margin-top: 0px;
  box-shadow: 0px 3px 10px 0px var(--dark-color-light);
}
.nav-sticky .nav-item .nav-link {
  color: var(--dark-color) !important;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar .navbar-nav .nav-link {
    padding: 25px 15px;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 14px 0;
    background-color: #fff !important;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 8px 15px;
    color: var(--dark-color) !important;
  }
}
body[data-bs-theme='dark'] .navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}
body[data-bs-theme='dark'] .nav-sticky {
  background-color: #283039 !important;
}
body[data-bs-theme='dark'] .nav-sticky .nav-item .nav-link {
  color: #fff !important;
}
body[data-bs-theme='dark'] .nav-sticky.navbar-light .logo .logo-dark {
  display: none !important;
}
body[data-bs-theme='dark'] .nav-sticky.navbar-light .logo .logo-light {
  display: block !important;
}
body[data-bs-theme='dark'] .nav-sticky .navbar-toggler i,
body[data-bs-theme='dark'] .navbar .navbar-toggler i {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff !important;
}
body[data-bs-theme='dark'] .nav-sticky .navbar-nav .nav-link,
body[data-bs-theme='dark'] .navbar .navbar-nav .nav-link {
  color: #fff;
}
body[data-bs-theme='dark'] .nav-sticky .navbar-nav .nav-link:hover,
body[data-bs-theme='dark'] .nav-sticky .navbar-nav .nav-link.active,
body[data-bs-theme='dark'] .navbar .navbar-nav .nav-link:hover,
body[data-bs-theme='dark'] .navbar .navbar-nav .nav-link.active {
  color: var(--primary-color);
}
body[data-bs-theme='dark'] .nav-sticky .navbar-brand,
body[data-bs-theme='dark'] .navbar .navbar-brand {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 26px;
}
body[data-bs-theme='dark'] .nav-sticky .navbar-brand span,
body[data-bs-theme='dark'] .navbar .navbar-brand span {
  color: #fff;
  font-weight: 800;
}
body[data-bs-theme='dark'] .navbar-toggler {
  color: #fff !important;
}
body[data-bs-theme='dark'] .navbar-brand {
  color: var(--primary-color) !important;
}
body[data-bs-theme='dark'] .navbar-brand span {
  color: #fff !important;
}
body[data-bs-theme='dark'] .navbar-brand .logo-dark {
  display: none;
}
body[data-bs-theme='dark'] .navbar-brand .logo-light {
  display: inline-block;
}
@media (max-width: 992px) {
  body[data-bs-theme='dark'] .navbar {
    background-color: #303841 !important;
  }
  body[data-bs-theme='dark'] .navbar .nav-item .nav-link {
    color: #fff !important;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 14px 0;
    background-color: #fff !important;
  }
  .navbar-toggler i {
    color: var(--dark-color);
  }
  .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 10px 30px;
  }
}
.theme-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.theme-button:hover {
  background-color: #e04e0e;
}

.popover {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  z-index: 1000;
  border-top: 4px solid var(--primary-color); /* Accent color */
}

/* Popover open animation */
.popover.show {
  display: block;
  opacity: 1;
  transform: translateX(10%) translateY(-27px);
}

.close-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
}

.close-btn:hover {
  background-color: #e04e0e;
}

.popover iframe {
  display: block;
  width: 100%;
  height: 300px;
  border: none;
}
.text-primary {
  color: var(--primary-color) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.text-success {
  color: #1d9b7b !important;
}
.text-info {
  color: var(--info-color) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.text-danger {
  color: var(--danger-color) !important;
}
.bg-danger {
  background-color: var(--danger-color) !important;
}
.text-light {
  color: var(--light-color) !important;
}
.bg-light {
  background-color: var(--light-color) !important;
}
.text-dark {
  color: var(--dark-color) !important;
}
.bg-dark {
  background-color: var(--dark-color) !important;
}
.text-muted {
  color: var(--muted-color) !important;
}
.bg-muted {
  background-color: var(--muted-color) !important;
}
.text-white {
  color: #fff !important;
}
.bg-white {
  background-color: #fff !important;
}
.text-purple {
  color: var(--purple-color) !important;
}
.bg-purple {
  background-color: var(--purple-color) !important;
}
.text-blue {
  color: var(--blue-color) !important;
}
.bg-blue {
  background-color: var(--blue-color) !important;
}
.text-orange {
  color: var(--orange-color) !important;
}
.bg-orange {
  background-color: var(--orange-color) !important;
}
.text-white-70 {
  color: var(--white-70-color) !important;
}
.bg-white-70 {
  background-color: var(--white-70-color) !important;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative !important;
}
.para-p {
  max-width: 650px;
}
@keyframes ani-bg {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(200px);
  }
}
.box-shadow {
  box-shadow: 0px 3px 10px 0px rgba(24, 59, 86, 0.08);
}
hr {
  border-top: 1px solid var(--muted-color);
  margin: 0;
}
.lh-1 {
  letter-spacing: 1px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 23px;
}
.f-30 {
  font-size: 30px;
}
.f-35 {
  font-size: 35px;
}
.f-40 {
  font-size: 40px;
}
.f-50 {
  font-size: 50px;
}
.f-100 {
  font-size: 100px;
}
.margin-top-120 {
  margin-top: 120px;
}
.avatar-xs {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
}
.avatar-sm {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
}
.avatar-md {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
}
.avatar-lg {
  height: 4.5rem;
  width: 4.5rem;
}
.avatar-xl {
  height: 6rem;
  width: 6rem;
}
.avatar-xxl {
  height: 8rem;
  width: 8rem;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.border-radius {
  border-radius: 6px !important;
}
.btn:hover,
.btn:focus {
  box-shadow: none !important;
  border: 1px solid;
}
.text-gradiant {
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.bg-gradiant {
  background: linear-gradient(
    80deg,
    rgb(70, 165, 189) 0%,
    rgb(17, 106, 141) 100%
  );
  border: none !important;
  color: #fff !important;
}
.bg-overlay {
  background-color: rgba(74, 74, 74, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bg-overlay-gradiant {
  background: linear-gradient(
    80deg,
    rgb(55, 125, 143) 0%,
    rgb(10, 65, 87) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.text-shadow {
  text-shadow: 1px 1px #fff;
}
.modal .modal-dialog .btn-close {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.modal .modal-dialog:hover .btn-close {
  opacity: 0.5;
}
@media (max-width: 992px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative !important;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
  transition: all 0.2s linear;
}
body.modal-open {
  padding-right: 0px !important;
}
body.modal-open .navbar {
  padding-right: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}
.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}
a {
  text-decoration: none !important;
  outline: none;
}
p {
  font-size: 16px;
  line-height: 25px;
}
html {
  scroll-padding-top: 110;
  scroll-behavior: smooth;
}
.row > * {
  position: relative;
}
@media (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: #fff !important;
    box-shadow: 0px 3px 10px 0px rgba(24, 59, 86, 0.08);
    color: #fff !important;
  }
  .navbar-toggler i {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--dark-color);
  }
  .bg-home {
    height: auto;
  }
  .nav-sticky.navbar-custom .navbar-nav li a {
    color: #fff !important;
  }
  .nav-sticky .logo {
    color: #fff !important;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .clients-img {
    display: none;
  }
}
.btn {
  padding: 12px 30px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  border: 1px solid var(--primary-color);
  overflow: hidden;
  position: relative;
}
.btn-sm {
  padding: 6px 20px;
  font-size: 14px;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-soft-primary {
  background-color: var(--primary-color-light) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.border-primary {
  border-color: var(--primary-color) !important;
}
.icon-dual-primary {
  color: var(--primary-color);
  fill: var(--primary-color-light);
}
.btn-primary {
  background: var(--primary-color) !important;
  color: #fff;
  border-color: var(--primary-color) !important;
  border: 1px solid;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open > .dropdown-toggle.btn-primary {
  background: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  box-shadow: none !important;
}
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border: 1px solid;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open > .dropdown-toggle.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: none !important;
}
.bg-soft-secondary {
  background-color: var(--secondary-color-light) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.border-secondary {
  border-color: var(--secondary-color) !important;
}
.icon-dual-secondary {
  color: var(--secondary-color);
  fill: var(--secondary-color-light);
}
.btn-secondary {
  background: var(--secondary-color) !important;
  color: #fff;
  border-color: var(--secondary-color) !important;
  border: 1px solid;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary .open > .dropdown-toggle.btn-primary {
  background: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
  box-shadow: none !important;
}
.btn-outline-secondary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  border: 1px solid;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary .open > .dropdown-toggle.btn-primary {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: none !important;
}
.bg-soft-success {
  background-color: rgba(29, 155, 123, 0.2) !important;
}

.border-success {
  border-color: #1d9b7b !important;
}
.icon-dual-success {
  color: #1d9b7b;
  fill: rgba(29, 155, 123, 0.2);
}
.bg-info {
  background-color: var(--info-color) !important;
}
.bg-soft-info {
  background-color: var(--info-color-light) !important;
}
.text-info {
  color: var(--info-color) !important;
}
.border-info {
  border-color: var(--info-color) !important;
}
.icon-dual-info {
  color: var(--info-color);
  fill: var(--info-color-light);
}
.btn-info {
  background: var(--info-color) !important;
  color: #fff;
  border-color: var(--info-color) !important;
  border: 1px solid;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info .open > .dropdown-toggle.btn-primary {
  background: var(--info-color-dark);
  border-color: var(--info-color-dark);
  box-shadow: none !important;
}
.btn-outline-info {
  color: var(--info-color);
  border-color: var(--info-color);
  border: 1px solid;
}
.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.focus,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info .open > .dropdown-toggle.btn-primary {
  background: var(--info-color);
  border-color: var(--info-color);
  box-shadow: none !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-soft-warning {
  background-color: var(--warning-color-light) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.border-warning {
  border-color: var(--warning-color) !important;
}
.icon-dual-warning {
  color: var(--warning-color);
  fill: var(--warning-color-light);
}
.btn-warning {
  background: var(--warning-color) !important;
  color: #fff;
  border-color: var(--warning-color) !important;
  border: 1px solid;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning .open > .dropdown-toggle.btn-primary {
  background: var(--warning-color-dark);
  border-color: var(--warning-color-dark);
  box-shadow: none !important;
}
.btn-outline-warning {
  color: var(--warning-color);
  border-color: var(--warning-color);
  border: 1px solid;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.focus,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning .open > .dropdown-toggle.btn-primary {
  background: var(--warning-color);
  border-color: var(--warning-color);
  box-shadow: none !important;
}
.bg-danger {
  background-color: var(--danger-color) !important;
}
.bg-soft-danger {
  background-color: var(--danger-color-light) !important;
}
.text-danger {
  color: var(--danger-color) !important;
}
.border-danger {
  border-color: var(--danger-color) !important;
}
.icon-dual-danger {
  color: var(--danger-color);
  fill: var(--danger-color-light);
}
.btn-danger {
  background: var(--danger-color) !important;
  color: #fff;
  border-color: var(--danger-color) !important;
  border: 1px solid;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger .open > .dropdown-toggle.btn-primary {
  background: var(--danger-color-dark);
  border-color: var(--danger-color-dark);
  box-shadow: none !important;
}
.btn-outline-danger {
  color: var(--danger-color);
  border-color: var(--danger-color);
  border: 1px solid;
}
.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger .open > .dropdown-toggle.btn-primary {
  background: var(--danger-color);
  border-color: var(--danger-color);
  box-shadow: none !important;
}
.bg-dark {
  background-color: var(--dark-color) !important;
}
.bg-soft-dark {
  background-color: var(--dark-color-light) !important;
}
.text-dark {
  color: var(--dark-color) !important;
}
.border-dark {
  border-color: var(--dark-color) !important;
}
.icon-dual-dark {
  color: var(--dark-color);
  fill: var(--dark-color-light);
}
.btn-dark {
  background: var(--dark-color) !important;
  color: #fff;
  border-color: var(--dark-color) !important;
  border: 1px solid;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark .open > .dropdown-toggle.btn-primary {
  background: var(--dark-color-dark);
  border-color: var(--dark-color-dark);
  box-shadow: none !important;
}
.btn-outline-dark {
  color: var(--dark-color);
  border-color: var(--dark-color);
  border: 1px solid;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark .open > .dropdown-toggle.btn-primary {
  background: var(--dark-color);
  border-color: var(--dark-color);
  box-shadow: none !important;
}
.bg-cyan {
  background-color: var(--cyan-color) !important;
}
.bg-soft-cyan {
  background-color: rgba(0, 230, 230, 0.2) !important;
}
.text-cyan {
  color: var(--cyan-color) !important;
}
.border-cyan {
  border-color: var(--cyan-color) !important;
}
.icon-dual-cyan {
  color: var(--cyan-color);
  fill: rgba(0, 230, 230, 0.2);
}
.btn-cyan {
  background: var(--cyan-color) !important;
  color: #fff;
  border-color: var(--cyan-color) !important;
  border: 1px solid;
}
.btn-cyan:hover,
.btn-cyan:focus,
.btn-cyan:active,
.btn-cyan.active,
.btn-cyan.focus,
.btn-cyan:not(:disabled):not(.disabled):active,
.btn-cyan:not(:disabled):not(.disabled):active:focus,
.btn-cyan .open > .dropdown-toggle.btn-primary {
  background: #00d2d2;
  border-color: #00d2d2;
  box-shadow: none !important;
}
.btn-outline-cyan {
  color: var(--cyan-color);
  border-color: var(--cyan-color);
  border: 1px solid;
}
.btn-outline-cyan:hover,
.btn-outline-cyan:focus,
.btn-outline-cyan:active,
.btn-outline-cyan.active,
.btn-outline-cyan.focus,
.btn-outline-cyan:not(:disabled):not(.disabled):active,
.btn-outline-cyan:not(:disabled):not(.disabled):active:focus,
.btn-outline-cyan .open > .dropdown-toggle.btn-primary {
  background: var(--cyan-color);
  border-color: var(--cyan-color);
  box-shadow: none !important;
}
.bg-blue {
  background-color: var(--blue-color) !important;
}
.bg-soft-blue {
  background-color: rgba(31, 134, 239, 0.2) !important;
}
.text-blue {
  color: var(--blue-color) !important;
}
.border-blue {
  border-color: var(--blue-color) !important;
}
.icon-dual-blue {
  color: var(--blue-color);
  fill: rgba(31, 134, 239, 0.2);
}
.btn-blue {
  background: var(--blue-color) !important;
  color: #fff;
  border-color: var(--blue-color) !important;
  border: 1px solid;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.focus,
.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled):active:focus,
.btn-blue .open > .dropdown-toggle.btn-primary {
  background: #117ce9;
  border-color: #117ce9;
  box-shadow: none !important;
}
.btn-outline-blue {
  color: var(--blue-color);
  border-color: var(--blue-color);
  border: 1px solid;
}
.btn-outline-blue:hover,
.btn-outline-blue:focus,
.btn-outline-blue:active,
.btn-outline-blue.active,
.btn-outline-blue.focus,
.btn-outline-blue:not(:disabled):not(.disabled):active,
.btn-outline-blue:not(:disabled):not(.disabled):active:focus,
.btn-outline-blue .open > .dropdown-toggle.btn-primary {
  background: var(--blue-color);
  border-color: var(--blue-color);
  box-shadow: none !important;
}
.bg-muted {
  background-color: var(--muted-color) !important;
}
.bg-soft-muted {
  background-color: rgba(131, 132, 133, 0.2) !important;
}
.text-muted {
  color: var(--muted-color) !important;
}
.border-muted {
  border-color: var(--muted-color) !important;
}
.icon-dual-muted {
  color: var(--muted-color);
  fill: rgba(131, 132, 133, 0.2);
}
.btn-muted {
  background: var(--muted-color) !important;
  color: #fff;
  border-color: var(--muted-color) !important;
  border: 1px solid;
}
.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.active,
.btn-muted.focus,
.btn-muted:not(:disabled):not(.disabled):active,
.btn-muted:not(:disabled):not(.disabled):active:focus,
.btn-muted .open > .dropdown-toggle.btn-primary {
  background: #797a7b;
  border-color: #797a7b;
  box-shadow: none !important;
}
.btn-outline-muted {
  color: var(--muted-color);
  border-color: var(--muted-color);
  border: 1px solid;
}
.btn-outline-muted:hover,
.btn-outline-muted:focus,
.btn-outline-muted:active,
.btn-outline-muted.active,
.btn-outline-muted.focus,
.btn-outline-muted:not(:disabled):not(.disabled):active,
.btn-outline-muted:not(:disabled):not(.disabled):active:focus,
.btn-outline-muted .open > .dropdown-toggle.btn-primary {
  background: var(--muted-color);
  border-color: var(--muted-color);
  box-shadow: none !important;
}
.bg-purple {
  background-color: var(--purple-color) !important;
}
.bg-soft-purple {
  background-color: rgba(118, 109, 244, 0.2) !important;
}
.text-purple {
  color: var(--purple-color) !important;
}
.border-purple {
  border-color: var(--purple-color) !important;
}
.icon-dual-purple {
  color: var(--purple-color);
  fill: rgba(118, 109, 244, 0.2);
}
.btn-purple {
  background: var(--purple-color) !important;
  color: #fff;
  border-color: var(--purple-color) !important;
  border: 1px solid;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.btn-purple.focus,
.btn-purple:not(:disabled):not(.disabled):active,
.btn-purple:not(:disabled):not(.disabled):active:focus,
.btn-purple .open > .dropdown-toggle.btn-primary {
  background: #645af3;
  border-color: #645af3;
  box-shadow: none !important;
}
.btn-outline-purple {
  color: var(--purple-color);
  border-color: var(--purple-color);
  border: 1px solid;
}
.btn-outline-purple:hover,
.btn-outline-purple:focus,
.btn-outline-purple:active,
.btn-outline-purple.active,
.btn-outline-purple.focus,
.btn-outline-purple:not(:disabled):not(.disabled):active,
.btn-outline-purple:not(:disabled):not(.disabled):active:focus,
.btn-outline-purple .open > .dropdown-toggle.btn-primary {
  background: var(--purple-color);
  border-color: var(--purple-color);
  box-shadow: none !important;
}
.bg-pink {
  background-color: var(--pink-color) !important;
}
.bg-soft-pink {
  background-color: rgba(241, 62, 116, 0.2) !important;
}
.text-pink {
  color: var(--pink-color) !important;
}
.border-pink {
  border-color: var(--pink-color) !important;
}
.icon-dual-pink {
  color: var(--pink-color);
  fill: rgba(241, 62, 116, 0.2);
}
.btn-pink {
  background: var(--pink-color) !important;
  color: #fff;
  border-color: var(--pink-color) !important;
  border: 1px solid;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink .open > .dropdown-toggle.btn-primary {
  background: #f02b66;
  border-color: #f02b66;
  box-shadow: none !important;
}
.btn-outline-pink {
  color: var(--pink-color);
  border-color: var(--pink-color);
  border: 1px solid;
}
.btn-outline-pink:hover,
.btn-outline-pink:focus,
.btn-outline-pink:active,
.btn-outline-pink.active,
.btn-outline-pink.focus,
.btn-outline-pink:not(:disabled):not(.disabled):active,
.btn-outline-pink:not(:disabled):not(.disabled):active:focus,
.btn-outline-pink .open > .dropdown-toggle.btn-primary {
  background: var(--pink-color);
  border-color: var(--pink-color);
  box-shadow: none !important;
}
.bg-orange {
  background-color: var(--orange-color) !important;
}
.bg-soft-orange {
  background-color: rgba(228, 110, 42, 0.2) !important;
}
.text-orange {
  color: var(--orange-color) !important;
}
.border-orange {
  border-color: var(--orange-color) !important;
}
.icon-dual-orange {
  color: var(--orange-color);
  fill: rgba(228, 110, 42, 0.2);
}
.btn-orange {
  background: var(--orange-color) !important;
  color: #fff;
  border-color: var(--orange-color) !important;
  border: 1px solid;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.focus,
.btn-orange:not(:disabled):not(.disabled):active,
.btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange .open > .dropdown-toggle.btn-primary {
  background: #de631c;
  border-color: #de631c;
  box-shadow: none !important;
}
.btn-outline-orange {
  color: var(--orange-color);
  border-color: var(--orange-color);
  border: 1px solid;
}
.btn-outline-orange:hover,
.btn-outline-orange:focus,
.btn-outline-orange:active,
.btn-outline-orange.active,
.btn-outline-orange.focus,
.btn-outline-orange:not(:disabled):not(.disabled):active,
.btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.btn-outline-orange .open > .dropdown-toggle.btn-primary {
  background: var(--orange-color);
  border-color: var(--orange-color);
  box-shadow: none !important;
}
.bg-light {
  background-color: var(--light-color) !important;
}
.bg-soft-light {
  background-color: var(--light-color-light) !important;
}
.text-light {
  color: var(--light-color) !important;
}
.border-light {
  border-color: var(--light-color) !important;
}
.icon-dual-light {
  color: var(--light-color);
  fill: var(--light-color-light);
}
.btn-light {
  background: var(--light-color) !important;
  color: #fff;
  border-color: var(--light-color) !important;
  border: 1px solid;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.focus,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light .open > .dropdown-toggle.btn-primary {
  background: var(--light-color-dark);
  border-color: var(--light-color-dark);
  box-shadow: none !important;
}
.btn-outline-light {
  color: var(--light-color);
  border-color: var(--light-color);
  border: 1px solid;
}
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light .open > .dropdown-toggle.btn-primary {
  background: var(--light-color);
  border-color: var(--light-color);
  box-shadow: none !important;
}
.bg-white {
  background-color: var(--white-color) !important;
}
.bg-soft-white {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.text-white {
  color: var(--white-color) !important;
}
.border-white {
  border-color: var(--white-color) !important;
}
.icon-dual-white {
  color: #fff;
  fill: rgba(255, 255, 255, 0.2);
}
.btn-white {
  background: var(--white-color) !important;
  color: #fff;
  border-color: var(--white-color) !important;
  border: 1px solid;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white .open > .dropdown-toggle.btn-primary {
  background: #f5f5f5;
  border-color: #f5f5f5;
  box-shadow: none !important;
}
.btn-outline-white {
  color: var(--white-color);
  border-color: var(--white-color);
  border: 1px solid;
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white.active,
.btn-outline-white.focus,
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-white .open > .dropdown-toggle.btn-primary {
  background: #fff;
  border-color: #fff;
  box-shadow: none !important;
}
.bg-white-70 {
  background-color: var(--white-70-color) !important;
}
.bg-soft-white-70 {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.text-white-70 {
  color: var(--white-70-color) !important;
}
.border-white-70 {
  border-color: var(--white-70-color) !important;
}
.icon-dual-white-70 {
  color: var(--white-70-color);
  fill: rgba(255, 255, 255, 0.2);
}
.btn-white-70 {
  background: var(--white-70-color) !important;
  color: #fff;
  border-color: var(--white-70-color) !important;
  border: 1px solid;
}
.btn-white-70:hover,
.btn-white-70:focus,
.btn-white-70:active,
.btn-white-70.active,
.btn-white-70.focus,
.btn-white-70:not(:disabled):not(.disabled):active,
.btn-white-70:not(:disabled):not(.disabled):active:focus,
.btn-white-70 .open > .dropdown-toggle.btn-primary {
  background: rgba(245, 245, 245, 0.7);
  border-color: rgba(245, 245, 245, 0.7);
  box-shadow: none !important;
}
.btn-outline-white-70 {
  color: var(--white-70-color);
  border-color: var(--white-70-color);
  border: 1px solid;
}
.btn-outline-white-70:hover,
.btn-outline-white-70:focus,
.btn-outline-white-70:active,
.btn-outline-white-70.active,
.btn-outline-white-70.focus,
.btn-outline-white-70:not(:disabled):not(.disabled):active,
.btn-outline-white-70:not(:disabled):not(.disabled):active:focus,
.btn-outline-white-70 .open > .dropdown-toggle.btn-primary {
  background: var(--white-70-color);
  border-color: var(--white-70-color);
  box-shadow: none !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  background: var(--light-color) !important;
  border: 1px solid rgba(131, 132, 133, 0.1) !important;
}
.btn-dark {
  border: 1px solid var(--dark-color) !important;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--dark-color) !important;
  box-shadow: 0px 3px 10px 0px rgba(24, 59, 86, 0.08) !important;
}
.btn-outline-dark {
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark.active {
  color: #fff;
  background-color: var(--dark-color);
}
.btn {
  border-color: var(--primary-color);
}
.card {
  background-color: #fff;
  border-color: #dee2e6;
  border-radius: 20px;
}
.mode-btn {
  position: fixed;
  top: 28%;
  left: 0px;
  z-index: 1021;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 21px;
  text-align: center;
}
.mode-btn .mode-dark {
  display: block;
  transition: all 0.5s ease;
}
.mode-btn .mode-light {
  display: none;
  transition: all 0.5s ease;
}
body[data-bs-theme='dark'] #style-switcher {
  background-color: #242c34;
}
body[data-bs-theme='dark'] .mode-dark {
  display: none;
}
body[data-bs-theme='dark'] .mode-light {
  display: block;
}
body[data-bs-theme='dark'] .card {
  background-color: #283039 !important;
  border-color: #3d454e !important;
}
body[data-bs-theme='dark'] p {
  color: rgba(255, 255, 255, 0.3) !important;
}
body[data-bs-theme='dark'] .title h6 {
  color: var(--primary-color) !important;
}
.home {
  min-height: 100vh;
  align-items: center;
  display: flex;
  /* background-image: url('../pages/images/bg.png'); */
  background-image: url('../../pages/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.home .up-botton-text {
  position: absolute;
  top: 50%;
  left: -20%;
}
.home .up-botton-text h5 {
  transform: rotate(90deg);
}
.home .smallphone-image {
  animation: ani-bg 3s infinite;
}
@keyframes ani-bg {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home-2 {
  min-height: 90vh;
  align-items: center;
  display: flex;
}
.home-2 .home-title {
  font-weight: 500;
}
.home-2 .phone-mockup {
  position: relative;
  z-index: 1;
  margin-bottom: -20%;
}
.home-2 .video-preview {
  border-radius: 50px;
  box-shadow: 0 0 0 0 var(--primary-color);
  position: relative;
}
.home-2 .video-preview .watch-video {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  left: 50%;
}
.home-2 .video-preview .watch-video .video-play-icon i {
  box-shadow: 0 0 0 0 var(--primary-color);
  animation: pulse 1.2s infinite;
  font-size: 30px;
  line-height: 70px;
}
@keyframes pulse {
  50% {
    box-shadow: 0 0 0 30px rgba(36, 194, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(36, 194, 255, 0);
  }
}
.home-2 .background-line::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  left: 20%;
  top: 0;
}
.home-2 .background-line .line-rounded {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  left: 20%;
  top: 50%;
  transform: translateX(-50%);
}
.home-2 .background-line-2::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  right: 15%;
  top: 0;
}
.home-2 .background-line-2 .line-rounded {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  right: 15%;
  top: 20%;
  transform: translateX(50%);
}
.home-2 .social-icon {
  position: absolute;
  left: 8%;
  bottom: 20%;
}
.home-2 .social-icon i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.home-3 .hero-img {
  min-height: 100vh;
  align-items: center;
  display: flex;
}
@media (max-width: 992px) {
  .home-3 .hero-img {
    min-height: 100% !important;
  }
}
.home-3 .container-fluid .side-img.img,
.home-3 .job-home-hero .container-fluid .side-img.img,
.home-3 .comingsoon .container-fluid .side-img.img {
  background: scroll center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 48vw;
  top: 0;
  right: 0;
}
.home-3 .side-img {
  min-height: 100vh;
  align-items: center;
  display: flex;
  z-index: 9;
  overflow: hidden;
  animation: image 2s infinite alternate;
}
@media (max-width: 992px) {
  .home-3 .side-img {
    position: relative !important;
    width: 100% !important;
    padding-top: 140px !important;
  }
}
.home-3 .side-img .home-slider {
  padding: 140px 0;
}
@media (max-width: 992px) {
  .home-3 .side-img #home-slider {
    width: 430%;
  }
}
@media (max-width: 768px) {
  .home-3 .side-img #home-slider {
    width: 500%;
  }
}
@media (max-width: 576px) {
  .home-3 .side-img #home-slider {
    width: 700%;
  }
}
@media (max-width: 500px) {
  .home-3 .side-img #home-slider {
    width: 1100%;
  }
}
.home-3 .side-img .item {
  height: 500px;
  width: auto;
}
.home-3 .side-img .tns-nav {
  z-index: 9;
  position: relative;
  margin-left: 40px;
}
.home-3 .side-img .tns-nav button {
  margin: 0 10px;
  height: 5px;
  width: 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
.home-3 .side-img .tns-nav .tns-nav-active {
  background-color: #fff;
}
.home-3 .side-img .tns-controls {
  position: absolute;
  z-index: 999;
  bottom: 50px;
  right: 0;
}
.home-3 .side-img .tns-controls button {
  margin: 0 10px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
@keyframes image {
  0% {
    background-image: url('../../pages/images/home/key-img1.jpg');
  }
  100% {
    background-image: url('../../pages/images/home/key-img2.jpg');
  }
}
@media (max-width: 992px) {
  .home-3 .tns-nav,
  .home-3 .tns-controls {
    display: none !important;
  }
}
.home-4 {
  padding: 32px 0px;
  align-items: center;
  display: flex;
  background-color: rgba(0, 118, 163, 0.5);
}
.home-4 .home-content {
  padding-top: 50px;
}
.home-4 .logo-box {
  background-color: var(--light-color);
  border-radius: 20px;
  padding: 40px 20px;
  z-index: 9;
  box-shadow: 0px 3px 10px 0px rgba(24, 59, 86, 0.08);
  position: relative;
  top: 86px;
}
.home-4 .logo-box .client-slider img {
  opacity: 0.4;
  transition: all 0.5s;
}
.home-4 .logo-box .client-slider img:hover {
  opacity: 0.8;
}
.home-5 {
  min-height: calc(100dvh - 8px);
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-5 .more-profile .top-child {
  margin-left: -15px;
}
.home-5 .more-profile .top-child img {
  border-radius: 50px;
  border: 3px solid #fff;
}
.home-5 .more-profile .avatar-sm:last-child {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 3px solid #fff;
}
.home-5 .more-profile .avatar-sm:last-child p {
  line-height: 2.5rem;
  font-weight: 500;
  color: #fff;
}
.home-5 .form-group {
  position: relative;
}
.home-5 .form-group .form-control {
  padding: 14px;
  border-radius: 5px;
}
.home-5 .btn-big {
  padding: 15px 25px;
}
.home-5 .waav {
  position: relative;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 20px;
  font-weight: 800;
}
.home-5 .waav span {
  position: relative;
  display: inline-block;
  color: rgb(250 90 21);
  text-transform: uppercase;
  animation: waav 1s infinite;
  animation-delay: calc(0.1s * var(--a));
}
@keyframes waav {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}
.home-6 {
  padding: 200px 0;
  background: linear-gradient(to left, var(--light-color) 50%, #00c3ed 50%) !important;
}
.home-6 .testimonial-image {
  z-index: 2;
}
.home-6 .tns-outer {
  position: relative;
}
.home-6 .tns-outer .tns-controls {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 34%;
  transform: translateY(50%);
  z-index: 999;
  margin-left: 20px;
}
.home-6 .tns-outer .tns-controls button[data-controls='prev'],
.home-6 .tns-outer .tns-controls button[data-controls='next'] {
  color: var(--dark-color);
  background: rgba(0, 118, 163, 0.3);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 0px rgba(24, 59, 86, 0.08);
}
.home-6 .tns-outer .tns-controls button {
  margin: 0 0 0px 10px;
  border-radius: 50%;
  border: none;
  color: var(--primary-color);
  background: var(--primary-color);
  transition: all 0.3s;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  transform: translateY(50%);
  margin-top: 50px;
}
.home-6 .tns-outer .tns-controls button:focus,
.home-6 .tns-outer .tns-outer .tns-controls button:hover,
.home-6 .tns-outer .tns-outer .tns-controls button:active {
  outline: none;
  background-color: var(--primary-color) !important;
  color: #fff;
}
.home-6 .tns-outer .tns-controls:focus {
  outline: none !important;
}
@media (max-width: 992px) {
  .home-6 {
    background: var(--light-color) !important;
    padding: 150px 0 50px 0;
  }
  .home-6 .tns-outer .tns-controls {
    top: 50%;
    margin-left: 10px;
  }
}
body[data-bs-theme='dark'] .home {
  background-image: url('../../pages/images/dark-bg.png');
  background-color: #303841 !important;
}
body[data-bs-theme='dark'] .home .display-5 {
  color: #fff !important;
}
body[data-bs-theme='dark'] .home .up-botton-text h5 {
  color: rgba(255, 255, 255, 0.6);
}
body[data-bs-theme='dark'] .home-2 {
  background-color: #343f4b !important;
}
body[data-bs-theme='dark'] .home-3 {
  background-color: #303841 !important;
}
body[data-bs-theme='dark'] .home-3 h1 {
  color: #fff;
}
body[data-bs-theme='dark'] .home-4 {
  background-color: #343f4b !important;
  color: #fff;
}
body[data-bs-theme='dark'] .home-4 .logo-box {
  background-color: #242a31 !important;
}
body[data-bs-theme='dark'] .home-4 .client-slider img {
  opacity: 0.9;
  filter: brightness(0) invert(1);
}
body[data-bs-theme='dark'] .home-4 .client-slider img:hover {
  opacity: 0.3;
}
body[data-bs-theme='dark'] .home-5 {
  background: #343f4b !important;
  color: #fff !important;
}
body[data-bs-theme='dark'] .home-5 .more-profile .avatar-sm:last-child {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 3px solid #343f4b;
}
body[data-bs-theme='dark'] .home-5 .more-profile p {
  color: #fff !important;
}
body[data-bs-theme='dark'] .home-5 .form-control {
  background-color: #283039;
}
body[data-bs-theme='dark'] .home-6 {
  background: linear-gradient(to left, #343f4b 50%, #00c3ed 50%) !important;
  color: #fff !important;
}
body[data-bs-theme='dark'] .home-6 .title-content p {
  color: #fff !important;
}
body[data-bs-theme='dark'] .home-6 a {
  color: #fff !important;
}
body[data-bs-theme='dark']
  .home-6
  .tns-outer
  .tns-controls
  button[data-controls='prev'],
body[data-bs-theme='dark']
  .home-6
  .tns-outer
  .tns-controls
  button[data-controls='next'] {
  color: #fff;
}
.service .service-box {
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s;
}
.service .service-box a {
  color: var(--dark-color);
  transition: all 0.3s;
}
.service .service-box .service-circle{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(0, 118, 163, 0.1);
  border-radius: 50%;
}
.service .service-box .service-icon i {
  position: relative;
  top: 2px;
}
/* .service .service-box:hover {
  box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2);
  transition: all 0.3s;
} */
.service .service-box:hover a {
  color: var(--primary-color);
}
.home2-service {
  padding-top: 250px;
}
body[data-bs-theme='dark'] .service {
  background-color: #303841 !important;
  color: #fff;
}
body[data-bs-theme='dark'] .service .service-box h5 {
  color: #fff;
}

.features .nav .nav-item .nav-link {
  margin: 0 20px;
  border: 1px solid rgba(24, 59, 86, 0.5);
  padding: 10px 30px;
  color: var(--dark-color);
}
.features .nav .nav-item .nav-link.active {
  border: 1px solid var(--primary-color);
  background: linear-gradient(var(--primary-color) 0%, var(--primary-color) 100%);
  color: #fff;
}
.features .tab-content .tab-pane .features-item .icon {
  background-color: rgba(0, 118, 163, 0.1);
  color: var(--primary-color);
}
body[data-bs-theme='dark'] .features {
  background-color: #343f4b !important;
  color: #fff;
}
body[data-bs-theme='dark'] .nav .nav-item .nav-link {
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 30px;
  color: #fff;
}
body[data-bs-theme='dark'] .features-box h6 {
  color: var(--white-70-color) !important;
}
.testimonial .testi-slider {
  margin: 0 20px;
}
.testimonial .testi-slider .item .testi-box {
  border-radius: 20px;
  box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2);
  margin: 20px 0;
  cursor: grab;
}
.testimonial .testi-slider .item .testi-box .social-icon i {
  color: rgba(255, 255, 255, 0.5);
}
.testimonial .tns-nav {
  text-align: center;
}
.testimonial .tns-nav button {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  margin: 0 8px;
  padding: 4px;
  background-color: var(--primary-color-light);
  border: none;
}
.testimonial .tns-nav .tns-nav-active {
  background-color: var(--primary-color);
}
.app-slider {
  cursor: alias;
}
.app-slider .swiper-container {
  padding: 54px 0 240px 0;
  width: 100%;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}

.app-slider .swiper-container .frame-phone {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, -52%);
  top: 50%;
  height: auto;
  width: 710px;
}
/* .app-slider .swiper-container .swiper-wrapper
{
  height: 350px;
} */
.app-slider .swiper-container .swiper-wrapper img {
  border-radius: 6px;
}
.app-slider .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--primary-color);
}
.app-slider img {
  width: 100%;
}

 /* @media (max-width: 1024px) {
  .app-slider .swiper-container {
    padding: 36px 0 205px 0;
  }
  .app-slider .swiper-container .frame-phone {
    width: 637px;
  }
} */
/*
@media (max-width: 992px) {
  .testimonial #testi-slider-iw {
    margin: 0 !important;
  }
  .app-slider .swiper-container {
    padding: 36px 0 207px 0;
  }
  .app-slider .swiper-container .frame-phone {
    width: 633px;
  }
} */
@media (max-width: 768px) {
  .frame-phone {
    display: none;
  }
}
body[data-bs-theme='dark'] .testimonial {
  background-color: #303841 !important;
  color: #fff;
}
body[data-bs-theme='dark'] .app-slider {
  background-color: #303841 !important;
  color: #fff !important;
}
.pricing .price-item {
  border-radius: 10px;
  transition: all 0.5s;
}
.pricing .price-item .price-up-box {
  background-color: var(--primary-color-light);
}
.pricing .price-item .price-up-box.active {
  background-color: #7a4b1e;
}
.pricing .price-item .price-down-box button {
  background-color: var(--light-color);
  border: 1px solid var(--primary-color-light);
}
body[data-bs-theme='dark'] .pricing {
  background-color: #343f4b !important;
  color: #fff;
}
body[data-bs-theme='dark'] .pricing h1 {
  color: #fff !important;
}
body[data-bs-theme='dark'] .pricing .topbar-header h6 {
  color: #fff !important;
}
body[data-bs-theme='dark'] .pricing .price-tag h2 {
  color: #fff !important;
}
body[data-bs-theme='dark'] .pricing .border {
  border-color: #283039 !important;
}
.team .team-box {
  position: relative;
}
.team .team-box .team-image img {
  border-radius: 10px;
}
.team .team-box .team-icon .social-icon a {
  color: var(--muted-color);
}
.team .team-box .team-info {
  transform: rotate(270deg);
  top: 40%;
  left: -30px;
}
body[data-bs-theme='dark'] .team {
  background-color: #343f4b !important;
  color: #fff;
}
.cta {
  background-image: url('../../pages/images/cta-bg.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cta::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
}
.cta::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  z-index: 1;
}
.cta .cta-phone-image {
  position: absolute;
  z-index: 999;
  top: -50%;
}
@media (max-width: 992px) {
  .cta .cta-phone-image {
    position: relative !important;
    top: 0;
  }
}
body[data-bs-theme='dark'] .cta::before {
  background: #343f4b !important;
}
body[data-bs-theme='dark'] .cta::after {
  background: #303841 !important;
}
.contact .contact-map {
  position: relative;
  z-index: 999;
}
.contact .map-shape::after {
  content: '';
  position: absolute;
  height: 350px;
  width: 200px;
  background-color: var(--primary-color);
  top: -5%;
  right: -10%;
  border-radius: 10px;
}
.contact .contact-form {
  margin-bottom: 15px;
  box-shadow: none !important;
  height: 48px;
  padding-left: 20px;
  border: 1px solid #efefef;
  font-size: 15px;
  border-radius: 5px;
  z-index: 1;
}
.contact .form-section {
  z-index: 1;
  position: relative;
  bottom: -100px;
}
@media (max-width: 1200px) {
  .contact-map iframe {
    width: 450px !important;
  }
}
@media (max-width: 992px) {
  .contact-map iframe {
    width: 600px !important;
  }
}
@media (max-width: 768px) {
  .contact-map iframe {
    width: 400px !important;
  }
}
@media (max-width: 460px) {
  .contact-map iframe {
    width: 300px !important;
  }
}
body[data-bs-theme='dark'] .contact {
  background-color: #303841 !important;
  color: #fff;
}
body[data-bs-theme='dark'] .contact-form {
  background-color: #343f4b;
  border: 1px solid #293038 !important;
}
.footer .bg-arrow {
  background-image: url('../../pages/images/home/arrow-bg.png') !important;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer .footer-icon a {
  border: 1px dashed rgba(131, 132, 133, 0.5);
}
.footer .footer-item li {
  padding-bottom: 8px;
}
.footer .form-control {
  height: 56px;
  border: 1px solid rgba(24, 59, 86, 0.1);
}
.footer .form-control:hover,
.footer .form-control:focus {
  box-shadow: none !important;
}
.footer .input-group-text {
  border: none !important;
}
.footer .footer-center-border {
  border-bottom: 1px dashed var(--dark-color-light) !important;
}
.footer .footer-link li {
  margin-top: 5px;
}
.footer .footer-link li a {
  color: rgba(255, 255, 255, 0.5) !important;
}
body[data-bs-theme='dark'] .footer {
  background-color: #343f4b !important;
  color: #fff !important;
}
body[data-bs-theme='dark'] .footer .bg-arrow {
  
  background-image: url('../../pages/images/dark-bg.png') !important;
}
body[data-bs-theme='dark'] .footer .form-control {
  height: 56px;
  border: 1px solid #343f4b !important;
  background-color: #283039;
}
body[data-bs-theme='dark'] .footer .input-group-text {
  border: 1px solid rgba(255, 255, 255, 0.02) !important;
}
body[data-bs-theme='dark'] .footer .footer-icon i {
  color: #fff !important;
}
body[data-bs-theme='dark'] .bottom-footer {
  background-color: #303841 !important;
} 


/* default.css

/* COLOR */

.post-meta a:hover,
.blog-post-title:hover,
.text-primary,
.btn-outline-primary,
.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item.active,
.dropup .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:focus,
.dropup .dropdown-menu .dropdown-item.active,
.dropright .dropdown-menu .dropdown-item:hover,
.dropright .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:focus,
.dropright .dropdown-menu .dropdown-item.active,
.dropleft .dropdown-menu .dropdown-item:hover,
.dropleft .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:focus,
.dropleft .dropdown-menu .dropdown-item.active,
.link-post-content i {
    color: var(--primary-color) !important;
}

/* BACKGROUND */
.bg-primary,
.btn-primary,
.service-box:hover .icon,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.tags a:hover,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,  
.pagination>li>span:focus,

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.footer-social li a:hover i {
    background-color: var(--primary-color) !important;
}

/* BORDER-COLOR */

.btn-primary,
.btn-outline-primary,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.left-sidebar-title h4,
.custom-form .form-control:focus,
.popular-border,
.blockquote,
.link-post-content,
.border-primary {
    border-color: var(--primary-color) !important;
}


.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    color: var(--white-color) !important;
}


@media (min-width: 200px) and (max-width: 991px) {

    .navbar-custom .navbar-nav li.active a,
    .navbar-custom .navbar-nav li a:hover,
    .navbar-custom .navbar-nav li a:active {
        color: var(--primary-color) !important;
    }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open>.dropdown-toggle.btn-primary {
    box-shadow: 0px 8px 20px -6px #017b91;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open>.dropdown-toggle.btn-primary {
    box-shadow: 0px 8px 20px -6px #017b91;
    /* transform: translateY(-6px); */
    color: #fff !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:focus,
.nav-sticky.navbar-custom .navbar-nav li a:active {
    color: var(--primary-color) !important;
}

.bg-gradiant {
    background: linear-gradient(80deg, var(--primary-color) 0%, var(--primary-color) 100%);
    border: none !important;
    color: #fff !important;

}

