---
import TeamMember from './TeamMember.astro';

import Teamimg1 from '../../../pages/images/team/img1.png';
import Teamimg2 from '../../../pages/images/team/img2.png';
import Teamimg3 from '../../../pages/images/team/img3.png';
import Teamimg4 from '../../../pages/images/team/img4.png';
---

<section class="section team" id="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title mb-5 text-center">
          <h6 class="fw-bold text-primary mb-0">Our Team!</h6>
          <h2 class="f-40 fs-1 fs-md-4">We are a team!</h2>
          <p class="text-muted">
            Meet Our Team: The Minds Behind Crawlora's Innovation!
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <TeamMember
        name="Dharmendra"
        role="Owner"
        imgSrc={Teamimg1.src}
        altText="Dharmendra"
        link="https://www.linkedin.com/in/dharmendrashah?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
      />
      <TeamMember
        name="Niraj"
        role="Developer"
        imgSrc={Teamimg3.src}
        altText="Niraj"
        link="https://www.linkedin.com/in/niraj-visavadiya-493141155/"
      />
      <TeamMember
        name="Nishal"
        role="Developer"
        imgSrc={Teamimg4.src}
        altText="Nishal"
        link="https://www.linkedin.com/in/nishal-taylor-7b9967242/"
      />
      <TeamMember
        name="Yash"
        role="Designer"
        imgSrc={Teamimg2.src}
        altText="Yash"
        link="https://in.linkedin.com/in/yashdobariya"
      />
    </div>
  </div>
</section>
