---
// Importing necessary components
import BrandLogo from '@/components/BrandLogo.astro';

// Links JSON for Ecosystem and Info sections
---

<section class="section footer bg-dark overflow-hidden">
  <div class="bg-arrow"></div>
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <a class="navbar-brand logo text-uppercase" href="index-1.html">
          <!-- <Image
            src={logoFooter}
            class="logo-light"
            alt="Logo Light"
            height={30}
          /> -->
          <BrandLogo class="h-auto w-44" />
        </a>
        <p class="text-white-50 mb-0 mt-2">
          Transform Your Data Strategy with Crawlora: Automate, Analyze, and Act
          with Confidence.
        </p>

        <div class="footer-icon mt-4">
          <div class="d-flex align-items-center">
            <a
              href="https://join.slack.com/t/dataminer-site/shared_invite/zt-2lvmboppf-FPPVWGwXDz6YAaLC5aYGTg"
              class="avatar-sm me-2 text-center"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Slack"
            >
              <i class="mdi mdi-slack f-24 text-primary align-middle"></i>
            </a>
            <a
              href="https://x.com/crawlora"
              class="avatar-sm mx-2 text-center"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Twitter"
            >
              <i class="mdi mdi-twitter f-24 text-primary align-middle"></i>
            </a>
            <a
              href="https://www.linkedin.com/company/crawlora/"
              class="avatar-sm mx-2 text-center"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Googleplay"
            >
              <i class="mdi mdi-linkedin f-24 text-primary align-middle"></i>
            </a>
            <a
              href="https://github.com/crawlora-com"
              class="avatar-sm mx-2 text-center"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Linkedin"
            >
              <i class="mdi mdi-github f-24 text-primary align-middle"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="mt-lg-0 mt-4 text-start">
          <h5 class="fw-bold text-white">Ecosystem</h5>
          <ul class="footer-item list-unstyled footer-link mt-3">
            <li><a href="/welcome-to-docs/">Documentation</a></li>
            <li><a href="/apps">Apps</a></li>
            <li>
              <a href="https://apidoc.crawlora.com/?cta=homepage-footer"
                >Api Doc</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="text-start">
          <h5 class="fw-bold text-white">Info</h5>
          <ul class="footer-item list-unstyled footer-link mt-3">
            <li><a href="#"> Use Cases </a></li>
            <li><a href="/blog"> Blog </a></li>
            <li><a href="/faq"> FAQs </a></li>
            <li><a href="#"> Customers </a></li>
          </ul>
        </div>
      </div>

      <!-- <div class="col-lg-4">
        <h5 class="text-white">Subscribe</h5>
        <div class="input-group my-4">
          <input
            type="text"
            class="form-control p-3"
            placeholder="subscribe"
            aria-label="subscribe"
            aria-describedby="basic-addon2"
          />
          <a
            href="#"
            class="input-group-text bg-primary px-4 text-white"
            id="basic-addon2">Go</a
          >
        </div>

        <p class="text-white-50 mb-0">
          publishes will show up in your Subscriptions feed. You may also
          start.
        </p>
      </div> -->

      <p class="text-white-50 mt-10">
        © <span id="current-year">2024</span> Crawlora: Find data at scale.
      </p>
    </div>
  </div>
  <!-- end container -->
</section>
